In [1]:
import sys
sys.version

'3.5.2 |Continuum Analytics, Inc.| (default, Jul  2 2016, 17:52:12) \n[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]'

In [4]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook
plt.style.use('ggplot')

In [13]:
df = pd.read_excel('MarijuanaApplicants01032017.xls', sheetname='Retailers 01-03-17', index_col=None)

In [14]:
df.columns

Index(['Tradename', 'License #', 'UBI', 'Street Address', 'Suite/Rm', 'City',
       'State', 'County', 'ZipCode', 'PrivDesc', 'PrivilegeStatus',
       'ReasonAction', 'DateCreated', 'DayPhone'],
      dtype='object')

In [15]:
df.dtypes

Tradename          object
License #           int64
UBI                 int64
Street Address     object
Suite/Rm           object
City               object
State              object
County             object
ZipCode            object
PrivDesc           object
PrivilegeStatus    object
ReasonAction       object
DateCreated        object
DayPhone           object
dtype: object

In [16]:
df.shape

(1838, 14)

In [21]:
df.ReasonAction.value_counts()

PENDING            1370
APPROVED            400
DISCONTINUED         51
WITHDRAWN            16
WITHHOLD              1
Name: ReasonAction, dtype: int64

In [23]:
df.PrivilegeStatus.value_counts()

PENDING (NOT ISSUED)    1315
ACTIVE (ISSUED)          416
CLOSED (PERMANENT)        61
PENDING (ISSUED)          45
CLOSED (TEMPORARY)         1
Name: PrivilegeStatus, dtype: int64

In [28]:
df.DateCreated.sort_values()

724
1223
1054
852
1162
315
915
1066
938
1415
261
1406
725
280
1345
203
1607
1663    20131119
646     20131119
1503    20131120
1299    20131120
1822    20131122
922     20131123
854     20131203
1575    20131210
1598    20131214
1668    20131214
1669    20131214
1042    20131217
1460    20131217
          ...
943     20161223
1248    20161224
1344    20161227
485     20161227
1636    20161227
1638    20161227
720     20161227
1249    20161227
1324    20161228
1335    20161228
655     20161228
224     20161228
1357    20161228
1651    20161228
322     20161228
1044    20161229
359     20161229
639     20161229
1655    20161229
1708    20161229
640     20161229
1246    20161230
59      20161230
1396    20161230
981     20161230
1099    20161230
1154    20161231
1199    20161231
1257    20161231
563     20161231
Name: DateCreated, dtype: object

In [22]:
df.head()

,Tradename,License #,UBI,Street Address,Suite/Rm,City,State,County,ZipCode,PrivDesc,PrivilegeStatus,ReasonAction,DateCreated,DayPhone
0,#1 POT STOP,421905,6032170680010006,3005 NORTHVIEW CIRCLE,,SHELTON,WA,MASON,985842948,MARIJUANA RETAILER,ACTIVE (ISSUED),APPROVED,20160818,2063292223
1,#1 POT STOP,422219,6032170680010007,140 GAGE BLVD,STE 204,RICHLAND,WA,BENTON,993528916,MARIJUANA RETAILER,PENDING (NOT ISSUED),PENDING,20160302,2063292223
2,#HASHTAG,414884,6033581390010001,3540 STONE WAY N,,SEATTLE,WA,KING,981038924,MARIJUANA RETAILER,ACTIVE (ISSUED),APPROVED,20160308,3608184000
3,1 LOVE,422867,6026959270010002,262 N MAIN ST,,COLVILLE,WA,STEVENS,991142308,MARIJUANA RETAILER,PENDING (NOT ISSUED),PENDING,20160402,5093857928
4,112TH STREET CANNABIS,423413,6033491670010006,5809 112TH ST E BLDG B,,PUYALLUP,WA,PIERCE,983734323,MARIJUANA RETAILER,ACTIVE (ISSUED),APPROVED,20161014,2067926857

In [29]:
# The date appears not to be a good reflection of the date retail stores opened.
# We can use the tax obligation records to find start of sales.

In [37]:
taxdf = pd.read_excel('MJTaxObligationbyLicenseethru01_09_17.xlsx', parse_cols=3, names = ["license", "timeperiod", 'totalsales', 'taxdue'])

In [38]:
taxdf.head()

                  license            timeperiod   totalsales          taxdue
0          License Number      Reporting Period  Total Sales  Excise Tax Due
1                  412618  6/1/2014 - 6/30/2014         3240             810
2                  412194  6/1/2014 - 6/30/2014         1140             285
3                  419150  6/1/2014 - 6/30/2014         1920             480
4  PRODUCERS PERIOD TOTAL  6/1/2014 - 6/30/2014         6300            1575

In [34]:
# We can match up each retailers's first reporting period to the license number

In [39]:
df.join?